footer{
  padding-bottom: 50px;
}
.service{
  margin-bottom: 80px;
}
.service h2 {
  @include reset-block;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
  background: #f8cc32;
  padding: 30px 0;
}

.service h3 {
  @include reset-block;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 0;
  cursor: pointer;
  position: relative;

  &::after{
  position: absolute;
content: "";
width:15px;
height: 15px;
top:23px;
right: 30px;
background: url("../img/icon/plus.svg");
  }

  &:hover {
    background:  #f8cc32;
  }
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:0 calc(50% - 400px);
}

.service-list {
  @include reset-block;
  display: none;

  padding: 25px 25px 25px 40px;
  border:1px solid black;
flex-direction: row;
flex-wrap: wrap;
}
.service-list__item {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
  flex: 1 1 50%;
}

.service--nojs .service-list {
  display:flex;
}

.service-list--active {
  display: flex;

}

.service-block--active h3{
  background:  #f8cc32;
&:after{
  background: url('../img/icon/minus.svg');
}
}

@media (max-width: $mobile-width) {
  .service-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .service-list{
    padding-left: 50px;
    border: none;
  }
  .service-list__item{
    flex: 1 1 100%;
  }
}
